<nav  style="background-color:rgb(249, 115, 0);"class="navbar navbar-expand-md  shadow-sm fixed-top" aria-label="Fourth navbar example" style="background-color:rgb(249, 115, 0); color:rgb(226, 223, 208);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JB Careers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div style="background-color:rgb(249, 115, 0);" class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active"  aria-current="page" href="https://9f911a88-aa1e-474b-abbd-58c18f85bfe8-00-2x447x4rjjk6t.pike.replit.dev/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://9f911a88-aa1e-474b-abbd-58c18f85bfe8-00-2x447x4rjjk6t.pike.replit.dev/learn">Courses</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://9f911a88-aa1e-474b-abbd-58c18f85bfe8-00-2x447x4rjjk6t.pike.replit.dev/events" data-bs-toggle="dropdown" aria-expanded="false">Events</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Contact Us</a>
        </li>
       
      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
<div style="height:56px;"></div>